body{
    font-family: 'Questrial', sans-serif;

}

h1{
    font-size: 50px;
}


#navbarNavDropdown{
    justify-content: flex-end;
}

.img-fluid{
    height: 350px;
    width: 100%;
    background-size: cover;
}

.furniture {
    width: 300px; !important;
    height: 400px; !important;
    background-size: cover;
}

.col{
    margin-top: 1em;
}

.nav-link:hover{
    background-color: #0d6efd;
    color: white !important
}

.accordion-button:not(.collapsed) {
color: white !important;
background-color: rgba(13, 110, 253, 0.53);; !important;
}

footer{
margin-top: 1em;
}

.col:hover img{
opacity: 20%;
}

.headModal{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1em;
}

.hide{
display: none;
}

.currentPage{
display: block;
}

main{
    margin: 4em;
}

.productName{
    margin: 0.5em;
    font-size: 18px;
}

/*Modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



